# Directories
out/
.vscode/
__pycache__/
build/
dist/
venv/
run.dist/
run.build/
src/MINE_DOWNLOADER.egg-info/

# Files
data.json
session_info.json
tag_user.json
trans.json
trans.db
build.txt
main.ico~